{% extends 'base.html.twig' %}

{% block title %} Listado de productos {% endblock %}

{% block body %}

<h2>Listado de productos</h2>

<table>
	<tr>
		<th>id</th>
		<th>Nombre</th>
		<th>Descripción</th>
		<th>Precio(€)</th>
		<th>Categoría</th>
		<th>Eliminar</th>
	</tr>
	{% for product in products %}
	<tr>
		<td><a href="{{ path('_t51_product_show', {'id' : product.id }) }}">
			{{ product.id }}</a></td>
		<td>{{ product.name }}</td>
		<td>{{ product.description }}</td>
		<td>{{ product.price | localizedcurrency('EUR') }}</td>
		<td><a href="{{ path('_t52_product_list_category', {'name' : product.category }) }}">			
			{{ product.category }}</a>
		</td>
		<td><a href="{{ path('_t51_product_delete', {'id' : product.id }) }}">
			<i class="fa fa-trash fa-lg"></i></a></td>
		
	</tr>
	{% endfor %}
</table>

<ul>
	<li><a href="{{ app.request.headers.get('referer') }}">Atrás</a></li>	
</ul>


{% endblock %}
