{% extends 'base.html.twig' %} 

{% block title %} Producto {{ product.name }} {% endblock %} 

{% block body %}

<h2>Producto {{ product.id }}</h2>

<table>
<tbody>
	<tr><td>Nombre</td><td>{{ product.name }}</td></tr>
	<tr><td>Descripción</td><td>{{ product.description }}</td></tr>
	<tr><td>Precio</td><td>{{ product.price | localizedcurrency('EUR') }}</td></tr>
	<tr><td>Miniatura</td><td>{{ product.name }}</td></tr>
		
	</tr>
	<tr>
		
		<td>{{ product.description }}</td>
		<td>{{ product.price }}</td>
		<td><i class="fa fa-bug fa-3x"></i></td>
		
	</tr>
</tbody>
</table>

<ul>
	<li><a href="{{ app.request.headers.get('referer') }}">Atrás</a></li>	
</ul>


{% endblock %}
