{% extends 'base.html.twig' %} 

{% block title %} Person {{ person.name }} {% endblock %} 

{% block body %}

<h2>Person {{ person.name }}</h2>

<table>
<tbody>
	<tr><th>Id</th><td>{{ person.id }}</td></tr>
	<tr><th>Nombre</th><td>{{ person.name }}</td></tr>
	<tr><th>Edad</th><td>{{ person.age }}</td></tr>
	<tr><th>Fecha Nac.</th><td>{{ person.birthDate|date("d/m/Y")}}</td></tr>
	<tr><th>Altura</strong></th><td>{{ person.height }}</td></tr>
	<tr><th><i class="fa fa-envelope fa-2x"></i></th><td>{{ person.email }}</td></tr>
	<tr><th><i class="fa fa-phone-square fa-2x"></i></th><td>{{ person.phone }}</td></tr>
	<tr><th>Sexo</th><td>{{ person.gender }}</td></tr>
	<tr><th>Descendientes</th><td>{{ person.descends }}</td></tr>
	<tr><th><i class="fa fa-car fa-2x"></i></th><td>{{ person.vehicle }}</td></tr>
	<tr><th>Idioma</th><td>{{ person.preferredLanguage }}</td></tr>
	<tr><th>Nivel de inglés</th><td>{{ person.englishLevel }}</td></tr>
	<tr><th>WebSite</th><td>{{ person.personalWebSite }}</td></tr>
	<tr><th><i class="fa fa-credit-card fa-2x"></i></th><td>{{ person.cardNumber }}</td></tr>
	<tr><th>Número de cuenta bancaria(IBAN)</th><td>{{ person.IBAN }}</td></tr> 	
	<tr><th>Imagen</th><td><img src="holder.js/200x200" alt="Image placeholder" /></td></tr>		
</tbody>
</table>

<ul>
	<li><a href="{{ app.request.headers.get('referer') }}">Atrás</a></li>	
</ul>

{% endblock %}

{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.0/holder.min.js"></script>
{% endblock %}
