{% extends 'base.html.twig' %} 

{% trans_default_domain 'AppBundle' %}


{% block title %} {{ 'person.show.title' | trans }} {{ person.name }} {% endblock %} 

{% block content %}

<h2>Person {{ person.name }}</h2>

<table class="table">
<tbody>
	<tr><th>{{ 'person.id' | trans }}</th><td>{{ person.id }}</td></tr>
	<tr><th>{{ 'person.name' | trans }}</th><td>{{ person.name }}</td></tr>
	<tr><th>{{ 'person.age' | trans }}</th><td>{{ person.age }}</td></tr>
	<tr><th>{{ 'person.birth_date' | trans }}</th><td>{{ person.birthDate|date("d/m/Y")}}</td></tr>
	<tr><th>{{ 'peson.height' | trans }}</strong></th><td>{{ person.height }}</td></tr>
	<tr><th><i class="fa fa-envelope fa-2x"></i></th><td>{{ person.email }}</td></tr>
	<tr><th><i class="fa fa-phone-square fa-2x"></i></th><td>{{ person.phone }}</td></tr>
	<tr><th>{{ 'person.gender' | trans }}</th><td>{{ person.gender }}</td></tr>
	<tr><th>{{ 'person.descends' | trans }}</th><td>{{ person.descends }}</td></tr>
	<tr><th><i class="fa fa-car fa-2x"></i></th><td>{{ person.vehicle }}</td></tr>
	<tr><th>{{ 'person.preferred_language' | trans }}</th><td>{{ person.preferredLanguage }}</td></tr>
	<tr><th>{{ 'person.english_level' | trans }}</th><td>{{ person.englishLevel }}</td></tr>
	<tr><th>{{ 'person.url' | trans }}</th><td>{{ person.personalWebSite }}</td></tr>
	<tr><th><i class="fa fa-credit-card fa-2x"></i></th><td>{{ person.cardNumber }}</td></tr>
	<tr><th>{{ 'person.iban' | trans }}</th><td>{{ person.IBAN }}</td></tr> 	
	<tr><th>{{ 'person.show.image' | trans }}</th><td><img src="holder.js/200x200" alt="Image placeholder" /></td></tr>		
</tbody>
</table>

<ul>
	<li><a href="{{ app.request.headers.get('referer') }}">Atrás</a></li>	
</ul>

{% endblock %}

{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.0/holder.min.js"></script>
{% endblock %}
