{% extends 'base.html.twig' %}

{% trans_default_domain 'AppBundle' %}

{% block title %} {{ 'category.list.title' | trans }} {%endblock %}

{% block content %}

<h2>{{ 'category.list.header' | trans }}</h2>

<table class="table table-striped">
<thead>
	<tr>
		<th>{{ 'category.id' | trans }}</th>
		<th>{{ 'category.name' | trans }}</th>
		{% if is_granted('ROLE_APP_ADMIN') %}
		<th>{{ 'category.list.edit' | trans }}</th>
		<th>{{ 'category.list.delete' | trans }}</th>
		{% endif %}	
			
	</tr>
	</thead>
	{% for category in categories %}
	<tbody>
	<tr>
		<td>{{ category.id }}</td>
		<td><a href="{{ path('product_list_category', {'name' : category.name }) }}">			
			{{ category.name }}</a>
		</td>
		{% if is_granted('ROLE_APP_ADMIN') %}
		<td><a href="{{ path('category_edit', {'id' : category.id }) }}">
			<i class="fa fa-pencil-square-o"></i></a></td>
		<td><a href="{{ path('category_delete', {'id' : category.id }) }}">
			<i class="fa fa-trash fa-lg"></i></a>
		</td>
		{% endif %}		
	</tr>
	</tbody>
	{% endfor %}
</table>

<ul>
	<li><a href="{{ app.request.headers.get('referer') }}">Atrás</a></li>	
</ul>


{% endblock %}
