{% extends 'base.html.twig' %}


{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}


{% block title %} {{ 'category.new.title' | trans }} {% endblock %} 

{% block content %}

<h2>Categoría</h2>
<div class="row">
	<div class='col-sm-5'>

	{{ form_start(form) }}
	{{ form_widget(form) }}
	{{ form_end(form) }}

	</div>
</div>

<ul>
	<li><a href="{{ app.request.headers.get('referer') }}">Atrás</a></li>	
</ul>

{% endblock %}