{% extends 'base.html.twig' %}

{% trans_default_domain 'AppBundle' %}

{% block title %} {{ 'main.title' | trans }} {% endblock %}

{% block content %}

<div class="page-header">
<h1> {{ 'main.header' | trans }}</h1>
</div>
<p class="lead"> {{ 'main.lead' | trans }} </p>



<h3>{{ 'main.header3' | trans }}</h3>
	<p> {{ 'main.paragraph' | trans }}
	<p class="text-info"> {{ 'main.text-info' | trans | raw }} </p>
</ul>

{% endblock %}