{% extends 'base.html.twig' %}

{% block title %} Desarrollo Web en entorno servidor {% endblock %}

{% block body %}

<h1>Symfony</h1>
<h2>Índice de prácticas </h2>

<ul>
	<li><strong>Controladores y Rutas</strong></li>
	<ul>
		<li><a href="{{ path('_t42_index') }}">T42</a></li>
		<li><a href="{{ path('_t43_index') }}">T43</a></li>
		<li><a href="{{ path('_t44_index') }}">T44</a></li>
	</ul>	
	<li><strong>Doctrine</strong></li>
	<ul>
		<li><a href="{{ path('_t51_index') }}">T51 - Productos</a></li>
		<li><a href="{{ path('_t52_index') }}">T52 - Categorías</a></li>
	</ul>
	<li><strong>Formularios</strong></li>
	<ul>
		<li><a href="{{ path('_t62_index') }}">T62 - Personas</a></li>			
	</ul>

</ul>

{% endblock %}