{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
{% endblock %}

{% block title %} Producto {{ product.name }} {% endblock %}

{% block body %}

<h2> Producto {{ product.id }}</h2>
 
 <table>
<tr>
<th> Nombre</th> <th> Descripción</th> <th> Precio(€) </th>
</tr>
<tr>
<td>{{ product.name }}</td><td>{{ product.description }}</td><td>{{ product.price }}</td>
</tr>
</table>
 
        
{% endblock %}